<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <FORM action="/result" method="post">
        <INPUT TYPE="text" NAME="t1" VALUE="3"> 
            +
        <INPUT TYPE="text" NAME="t2" VALUE="2"> 
        <p></p>
        <INPUT TYPE="text" NAME="t3" VALUE="3"> 
            -
        <INPUT TYPE="text" NAME="t4" VALUE="2"> 
        <p></p>
        <INPUT TYPE="text" NAME="t5" VALUE="3"> 
            *
        <INPUT TYPE="text" NAME="t6" VALUE="2"> 
        <p></p>
        <INPUT TYPE="text" NAME="t7" VALUE="3"> 
            /
        <INPUT TYPE="text" NAME="t8" VALUE="2"> 
        <p></p>
    <INPUT TYPE="submit" VALUE="출력">
</body>
</html>