<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 데이터 추가 </h1>
    <FORM action="/api/customer/insert" method="post">
        이름 : <INPUT TYPE="text" NAME="name" VALUE="홍길동"> <p></p>
        이메일 <INPUT TYPE="text" NAME="email" VALUE="hong@mail.com"> <p></p>
        전화번호 : <INPUT TYPE="text" NAME="phone" VALUE="010-3333-3333."> <p></p>
        주소 : <INPUT TYPE="text" NAME="address" VALUE="안동"> <p></p>
    <INPUT TYPE="submit" VALUE="전송">
</body>
</html>