<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>자유게시판 결과</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <table>
        <tr>
            <td class="n">이름</td>
            <td class="m"><%= name %></td>
        </tr>
        <tr>
            <td class="n">제목</td>
            <td class="m"><%= title %></td>
        </tr>
        <tr>
            <td class="n">내용</td>
            <td class="m"><%= content %></td>
        </tr>
    </table>
</body>
</html>